@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}


header {
    height: 100px;
    background-color: rgb(17, 57, 156);
    color: white;

    .cart {
        height: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: start;
        align-items: center;

        i {
            font-size: 20px;

        }

        p {
            margin-top: -30px;
        
        }
    }
}

.products {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-Content: center;
}